body {
  background-color: #f8f7ff;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone {
  width: 300px;
  height: 600px;
  border-radius: 30px;
  background-color: white;
  box-shadow: inset -6px -6px 15px rgba(145, 160, 180, 0.45),
    30px 30px 40px rgba(118, 146, 180, 0.18);
  padding: 40px 30px;
}
.screen {
  width: 100%;
  height: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-size: 12px;
}
.topbar {
  display: flex;
  justify-content: space-between;

  margin-bottom: 15px;
}
.topbar .topbar__right {
  color: red;
}
.box1,
.box2 {
  display: flex;
  background-color: blue;
  width: 115px;
  height: 80px;
  border-radius: 20px;
}
.box1__box1,
.box1__box2,
.box2__box1,
.box2__box2 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipes .recipes__title {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 10px;
}
.recipe {
  display: flex;
  flex-direction: column;
}
.recipe__one,
.recipe__two,
.recipe__three,
.recipe__four {
  width: 240px;
  height: 50px;
  border-radius: 30px;
  background-color: pink;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.recipe__name {
  font-size: 8px;
  margin-bottom: 5px;
}
.recipe__num {
  font-size: 6px;
  opacity: 0.6;
}
.recipes i {
  color: red;
}
.underbar {
  width: 100%;
  height: 70px;
  display: flex;

  position: relative;
  background-color: deeppink;

  border-radius: 0 0 30px 30px;
  top: 10px;
  right: 20px;
}
.underbar__list {
  display: flex;
  justify-content: space-between;
}
