@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
@import "reset.css";

body {
  background-color: #f8f6ff;
  padding: 20px;
}
* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
.box {
  background-color: #f8f8f8;
  width: 300px;
  height: 600px;
  border-radius: 70px;
  padding: 30px;

  box-shadow: inset -6px -6px 15px rgba(145, 160, 180, 0.45),
    30px 30px 40px rgba(118, 146, 180, 0.18);
}
header,
p {
  font-weight: bold;
}
p {
  margin-bottom: 30px;
}
header {
  margin-bottom: 60px;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
}
.text__email,
.text__password {
  all: unset;
  background-color: white;
  border: 1px solid rgba(211, 211, 211, 0.3);
  border-radius: 8px;
  padding: 10px;
  font-size: 10px;
}
.text__email {
  margin-bottom: 20px;
}

.text__password {
  margin-bottom: 15px;
}

.forgot {
  margin-bottom: 15px;
  text-align: right;
}
.remember,
.need,
.your {
  opacity: 0.5;
}
.up,
.retrive,
.forgot {
  color: red;
  font-size: 12px;
}
.remember {
  margin-bottom: 50px;
  font-size: 12px;
}
.btn1 {
  background-color: red;
  width: 200px;
  border-radius: 20px;
  margin-bottom: 30px;
  position: relative;
  left: 15px;
}
.btn1,
.btn2 {
  color: white;
  height: 35px;
  text-align: center;
}

.face,
.twit {
  padding: 10px;
  border-radius: 20px;
  width: 100%;
}
.btn2 {
  display: flex;
}

.sign,
.face,
.twit {
  font-size: 10px;
}
.sign {
  position: relative;
  top: 5px;
}
.face {
  background-color: #475a95;
  margin-right: 15px;
}
.twit {
  background-color: #5da1f2;
}
.bottom {
  margin-bottom: 10px;
}
footer {
  font-size: 10px;
  margin-top: 40px;
}
